body  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  h1{
      font-size: 50px;
  }
  .name-highlight{
      color:goldenrod;
  }